<!-- Business profile FORM Start -->
<%= form_for(@business, multipart: true, html: {class: 'business-profile-form form'} ) do |f| %>
  <%= form_errors_for @business %>

  <%= wrapper do %>
    <%= section_header 'Essential Info' %>

    <%= fr 'Name of Business', f.text_field(:name, class: 'businessName') %>
  <% end %>


  <%= wrapper :dark do %>
    <%= section_header "Style Options" %>

    <%= fr "Business Logo", row: "row mb" do %>
      <div class="imgPlaceHolder">
        <%= image_tag('ico/ico-image-temp.svg') %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-9">
        <div class="file-upload">
          <a href="#" class="btn btn-browse upload-trigger">Change Logo</a>
          <%= f.file_field :image, accept: "image/*", class: "file_field", onchange: "handleUploadedLogo(this)" %>
          <span>Choose a file</span>
          <%= f.hidden_field :image, class: "theImage" %>
        </div>
      </div>
    </div>

    <div class="row contPaleteColors">
      <div class="col-xs-12 col-sm-3">
        <%= f.label 'COLORS DETECTED' %>
      </div>
      <div class="col-xs-12 col-sm-9 paleteColors">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
    </div>

    <%= fr "Primary Color" do %>
      <%= f.text_field :primary_color, id: 'colorPicker1', placeholder: '#FFF' %>
    <% end %>

    <%= fr "Secondary Color" do %>
      <%= f.text_field :secondary_color, id: 'colorPicker2', placeholder: '#FFF' %>
    <% end %>

    <div class="row">
      <div class="col-md-offset-3 col-md-9 col-xs-12 preview">
        <%= link_to 'PREVIEW YOUR MOBILE PAGE', '#', class: 'preview-campaign', data: {toggle: 'modal', target: '#previewModal'} %>
        <a href="#preview-popup" class="preview-campaign open-popup-link" >PREVIEW YOUR MOBILE BUSINESS PAGE</a>
      </div>
    </div>
  <% end %> <%# -wrapper dark %>


  <%= wrapper do %>
    <%= section_header "Social Settings" %>
    <%= fr "WEBSITE", f.text_field(:website, class: 'website', placeholder: 'http://') %>
    <%= fr "Yelp URL", f.text_field(:yelp_url, class: 'yelp_url', placeholder: 'http://www.yelp.com/...') %>
    <%= fr "TWITTER URL", f.text_field(:twitter, class: 'twitterUrl', placeholder: 'http://') %>
    <%= fr "FACEBOOK URL", f.text_field(:facebook, class: 'facebookUrl', placeholder: 'http://') %>
  <% end %>


  <%= wrapper :dark do %>
    <%= section_header "Integrations" %>

    <div class="row">
      <div class="col-md-9 col-md-offset-3 mobileSocialCentered">
        <div class="socialBox">
          <div class="facebookImg" >
            <%= image_tag('facebook.png') %>
          </div>
          <%#= connect_identity_link("facebook") %>
          <a class="connected open-popup-link" href="#share-popup" >Connected</a>
        </div>
        <div class="socialBox">
          <div class="twitterImg" >
            <%= image_tag('twitter.png') %>
          </div>
          <%#= connect_identity_link("twitter") %>
          <a class="connect open-popup-link" href="#share-popup" >Connect</a>
        </div>
        <div class="socialBox">
          <div class="mailchimpImg" >
            <%= image_tag('mailchimp.png') %>
          </div>
          <%#= connect_identity_link("mailchimp") %>
          <a class="connect open-popup-link" href="#share-popup" >Connect</a>
        </div>
        <div class="socialBox">
          <div class="constantContactImg" >
            <%= image_tag('constantcontact.png') %>
          </div>
          <a class="connect open-popup-link" href="#share-popup" >Connect</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <%= f.button %>
      </div>
      <div class="col-xs-12 text-center">
        <% if @business.unpublished? && !@business.new_record? %>
          <%= f.button 'Save and Publish Profile!', name: 'publish', class: 'publish' %>
        <% end %>
      </div>
    </div>

  <% end %> <%# -wrapper dark %>

<% end %> <%# -form %>

    
    <% if current_user.facebook_pages && current_user.facebook.page_token == "" %>
      <div class="field">
      <strong>Select a page for this business</strong><br>
        <% current_user.facebook_pages.each do |page| %>
          <%= radio_button_tag 'facebook_page', page['id'] %> <%= page['name'] %><br />
        <% end %>
      </div>
    <% end %>

  <!--
    <% if current_user.mailchimp_lists %>
      <div class="field">
      <strong>Select a mailchimp list</strong><br>
        <% current_user.mailchimp_lists['data'].each do |list| %>
          <%= list %><br>
        <% end %>
      </div>
    <% end %>


    <% if current_user.constantcontact_lists %>
      <div class="field">
      <strong>Select a list</strong><br>
        <% current_user.constantcontact_lists.each do |list| %>
          <%= list.id %> - <%= list.name %> (<%= list.contact_count %>)<br>
        <% end %>
      </div>
    <% end %>
  -->





  <!-- Business profile FORM End -->

  <!-- Social POPUP! -->
  <div id="share-popup" class="white-popup mfp-hide">
      
      <div class="container">
        <textarea name="shareText">@ZIPPYSPOT is ready to Roll!</textarea>
    </div>
    <div class="footer">
      <div class="facebookBox"></div>
      <div class="twitterBox"></div>
      <button class="share-btn">SHARE NOW!</button>
    </div>
  </div>
  <!-- Social POPUP end -->


  <!-- Modal -->
  <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mobile Preview</h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="container">
                <div class="mobileTemplate">
                  <div class="previewHeader">
                    <%= image_tag('ico/ico-image-temp.svg') %>
                  </div>
                  <div class="content">
                    <h1>ACME Coffee</h1>
                    <p>123 Sesame St. New York, NY 11211</p>
                  </div>
                  <div class="socialFooter">
                    <a class="chains" href="#"></a>
                    <a class="facebook" href="#"></a>
                    <a class="twitter" href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- Preview POPUP! -->
  <div id="preview-popup" class="white-popup mfp-hide">
      <div class="container">
        <div class="mobileTemplate">
          <div class="previewHeader">
            <%= image_tag('ico/ico-image-temp.svg') %>
          </div>
          <div class="content">
            <h1>ACME Coffee</h1>
            <p>123 Sesame St. New York, NY 11211</p>
          </div>
          <div class="socialFooter">
            <a class="chains" href="#"></a>
            <a class="facebook" href="#"></a>
            <a class="twitter" href="#"></a>
          </div>
        </div>
    </div>
  </div>
  <!-- Preview POPUP end -->