<%= form_for(@business, multipart: true) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% unless @business.published? %>
    <div class="field">
      <%= f.label :published %><br>
      <%= f.check_box :published %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :primary_color %><br>
    <%= f.text_field :primary_color %>
  </div>
  <div class="field">
    <%= f.label :secondary_color %><br>
    <%= f.text_field :secondary_color %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
    <%= connect_identity_link("facebook") %><br>
    <%= connect_identity_link("twitter") %><br>
    <%= connect_identity_link("mailchimp") %><br>
    <%= connect_identity_link("constantcontact") %><br>
  </div>

  <% if current_user.facebook_pages && current_user.facebook.page_token == "" %>
    <div class="field">
    <strong>Select a page for this business</strong><br>
      <% current_user.facebook_pages.each do |page| %>
        <%= radio_button_tag 'facebook_page', page['id'] %> <%= page['name'] %><br />
      <% end %>
    </div>
  <% end %>


  <% if current_user.mailchimp_lists %>
    <div class="field">
    <strong>Select a list</strong><br>
      <% current_user.mailchimp_lists['data'].each do |list| %>
        <%= list %><br>
      <% end %>
    </div>
  <% end %>


  <% if current_user.constantcontact_lists %>
    <div class="field">
    <strong>Select a list</strong><br>
      <% current_user.constantcontact_lists.each do |list| %>
        <%= list.id %> - <%= list.name %> (<%= list.contact_count %>)<br>
      <% end %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
