<!-- Business profile FORM Start -->
<%= form_for(@business, multipart: true, html: {class: 'form'} ) do |f| %>
  <%= form_errors_for @business %>

  <%= wrapper do %>
    <%= section_header 'Your Business' %>
    <div class="toggle-section">

      <%= fr 'Business Name', f.text_field(:name, class: 'businessName') %>

      <%= fr "Logo (click to edit)" do %>
        <%= image_tag @business.image.url(:index), style: "width:300px", id: "saved_image", class: "thumbnail", data: {toggle: 'modal', target: '#cropImageModal'} %>
        <%= hidden_field_tag :image_datafile %>
      <% end %>

      <%= render 'shared/toggle_section_btns' %>
    </div>
  <% end %>

  <%= wrapper :dark do %>
    <%= section_header "Style Options" %>
    <div class="toggle-section">
      
      <div class="row contPaletteColors">
        <div class="col-xs-12 col-sm-3">
          <label>Colors Detected <a href="#" id="refreshDetectedColors" title="Refresh"><i class="fa fa-refresh"></i></a></label>
        </div>
        <div class="col-xs-12 col-sm-9 paletteColors">
          <div class="color"></div>
          <div class="color"></div>
          <div class="color"></div>
          <div class="color"></div>
          <div class="color"></div>
        </div>
      </div>
      
      <%= fr "Primary Color" do %>
        <%= f.text_field :primary_color, id: 'colorPicker1', placeholder: '#FFF' %>
      <% end %>
      
      <%= fr "Secondary Color" do %>
        <%= f.text_field :secondary_color, id: 'colorPicker2', placeholder: '#FFF' %>
      <% end %>
      
      <div class="row">
        <div class="col-md-offset-3 col-md-9 col-xs-12 preview">
          <%= link_to 'preview your mobile page', '#', class: 'preview-campaign caps', data: {toggle: 'modal', target: '#previewModal'} %>
        </div>
      </div>

      <%= render 'shared/toggle_section_btns' %>
    </div> 
  <% end %> <%# -wrapper dark %>


  <%= wrapper do %>
    <%= section_header "Social Settings" %>
    <div class="toggle-section">
      <%= fr "WEBSITE", f.text_field(:website, class: 'website', placeholder: 'http://') %>
      <%= fr "Yelp URL", f.text_field(:yelp_url, class: 'yelp_url', placeholder: 'http://www.yelp.com/...') %>
      <%= fr "TWITTER URL", f.text_field(:twitter, class: 'twitterUrl', placeholder: 'http://') %>
      <%= fr "FACEBOOK URL", f.text_field(:facebook, class: 'facebookUrl', placeholder: 'http://') %>

      <%= render 'shared/toggle_section_btns' %>
    </div>
  <% end %>


  <%= wrapper :dark do %>
    <%= section_header "Integrations",
        desc: "Please save all changes to your profile before connecting to an app below." %>

    <div class="toggle-section">
      
      <div class="row mt3">
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag('facebook.png') %>
          <%= connect_identity_link("facebook") %>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag('twitter.png') %>
          <%= connect_identity_link("twitter") %>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag('mailchimp.png') %>
          <%= connect_identity_link("mailchimp") %>
        </div>
        <div class="col-xs-12 col-sm-3 text-center">
          <%= image_tag('constantcontact.png') %>
          <%= connect_identity_link("constantcontact") %>
        </div>
      </div>
      
      
      <% if current_user.facebook_pages && current_user.facebook.page_token == "" %>
        <%= section_header "Select a Facebook Page" %>
        
        <%= fr "Facebook Page" do %>
          <% current_user.facebook_pages.each do |page| %>
            <%= radio_button_tag 'facebook_page', page['id'] %> <%= page['name'] %><br />
          <% end %>
        <% end %>
      <% end %>

      <%= render 'shared/toggle_section_btns' %>
    </div> <%# /.toggle-section &>
    
    <%# Form save button %>
    <div class="row py4">
      <div class="col-xs-12 text-center">
        <%= f.button %>
      </div>
      <%# SHOW THE PUBLISH BUTTON %>
      <% if @business.unpublished? && !@business.new_record? %>
        <div class="col-xs-12 text-center">
          <%# SHOW SHARE_TO MODAL IF CONNECTED TO FB OR TWITTER %>
          <% if current_user.facebook || current_user.twitter %>
            <%= link_to 'Save and Publish Profile!', "#", class: 'btn publish', data: {toggle: 'modal', target: '#shareModal'}  %>
          <% else %>
            <%= f.button 'Save and Publish Profile!', name: 'publish', class: 'publish' %>
          <% end %>
        </div>
      <% end %>
    </div>

  <% end %> <%# -wrapper dark %>

  <%# GALLERY MODAL %>
  <%= modal :large, id: "shareModal", title: "Announce your business!",
      body: capture { %>
        <div class="row">
          <div class="col-xs-12">
            <p>Now that you are publishing your business on Zippy Spot, you can announce to your followers about the big move!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <textarea name="shareText">We have just published our business on Zippy Spot!</textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <% %w(facebook twitter).each do |i| %>
              <% unless current_user.send(i).nil? %>
                <div class="cbox">
                  <%= check_box_tag "share_to[#{i}]", 1, true, id: "share_to_#{i}" %>
                  <label for="share_to_<%= i %>">Share to <%= i.humanize %></label>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
  <% }, footer: capture { %>
    <%= f.button 'Share and Publish!', name: 'publish', class: 'publish' %>
  <% } %>

<% end %> <%# -form %>



  <!-- Modal -->
  <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mobile Preview</h4>
        </div>

        <div class="modal-body">
          <!-- <div class="container"> -->
          <div class="mobilePreview_device-wrap">
            <div class="modal-container">
            <!-- TODO: After uploading an image, the page has to be updated for the new image to show here -->
              <div class="mobilePreview">
              
                <div class="mobilePreview-head">
                  <div class="mobilePreview-header_bg-wrap" style="background-color: #<%= current_user.business.primary_color %>">
                    
                    <!-- <h1 class="h4 center c-white" style="padding-top: 14px"><%= current_user.business.name %></h1> -->
                    <div class="mobilePreview_header" style="background-image: url('<%= image_path('mobile-preview--header.jpg') %>')"></div>
                    <div class="mobilePreview_bg" style="background-image: url('<%= @business.image.url(:index) %>')"></div>
              
                    <div class="contain" style="padding: 20px 0">
                      <div class="row mx-auto" style="max-width: 92%">
                        <div class="col-xs-5"><%= image_tag @business.image.url(:index), class: "fit", style: "border-radius: 50%" %></div>
                        <p class="col-xs-7 c-white light" style="padding-top: 25px; font-size: 16px">123 Sesame St.
              New York, NY 11211</p>
                      </div>
                    </div>
                    <p class="center c-white relative" style="margin-bottom: 25px; z-index: 1">
                      <span class="light">Reward Points</span> <span style="font-size: 110%; margin-left: 5px">314</span> <span class="inline-block" style="padding: 0 7px">|</span> <span class="light">Check-ins</span> <span style="font-size: 110%; margin-left: 5px">42</span>
                    </p>
                    <ul class="mx-auto fit center mobilePreview-nav_ul row">
                      <li class="caps inline-block center c-white light col-xs-4">Specials</li>
                      <li class="caps inline-block center c-white light col-xs-4">Coupons</li>
                      <li class="caps inline-block center c-white active col-xs-4">Rewards</li>
                    </ul>
                    <div style="height: 10px; background-color: white; position: relative; bottom: 0; width: 100%"></div>
                  </div>
                  <div class="bg-white center" style="padding-top: 10px; padding-bottom: 18px; font-size: 18px; border-bottom: solid 2px #bebebe">
                    <span class="light">Current Balance:</span> <span style="color: orange; font-size: 110%">314<span class="light small">pts</span></span>
                  </div>
                </div>
              
                <div class="container" style="padding: 0">
                  <div class="mobilePreview-panel row">
                    <div class="mobilePreview_banner">Redeem</div>
                    <div class="mobilePreview_points col-xs-3">
                      <div class="mobilePreview_points-count light">2</div>
                      <div class="mobilePreview_points-label">Points</div>
                    </div>
                    <div class="mobilePreview_panel-text col-xs-9 light">Have a latte on the house!</div>
                  </div>
                  <div class="mobilePreview-panel row">
                    <div class="mobilePreview_points col-xs-3">
                      <div class="mobilePreview_points-count light">500</div>
                      <div class="mobilePreview_points-label">Points</div>
                    </div>
                    <div class="mobilePreview_panel-text col-xs-9 light">Treat your friend for free</div>
                  </div>
                </div>
                <div class="mobilePreview_footer" style="background-image: url('<%= image_path('mobile-preview--footer-2.jpg') %>')"></div>
              </div>
            </div>
          </div>
        </div>
          
      </div>
    </div>
  </div>


  <%# CROP MODAL %>
  <%= render 'shared/crop_modal', resource: @business %>