<%= form_for(@beacon, key: @key) do |f| %>
  <%= form_errors_for @beacon %>

  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :uuid, placeholder: "Beacon UUID" %>
      <i class="fa fa-barcode"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.text_field :uuid_confirmation, placeholder: "Beacon UUID (again)" %>
      <i class="fa fa-barcode"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= f.button "Create the Beacon" %>
    </div>
  </div>
<% end %>