<%= form_for(@beacon, key: @key) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid, 'UUID' %><br>
    <%= f.text_field :uuid %>
  </div>


  <div class="field">
    <%= label_tag :uuid_confirm %><br>
    <%= text_field_tag :uuid_confirm %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Create beacon' %>
  </div>
<% end %>
