<p id="notice"><%= notice %></p>

<h1>Listing Beacons</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Order</th>
      <th>Uuid</th>
      <th>Void</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.location %></td>
        <td><%= beacon.order %></td>
        <td><%= beacon.uuid %></td>
        <td><%= beacon.void %></td>
        <td><%= link_to 'Show', beacon %></td>
        <td><%= link_to 'Edit', edit_beacon_path(beacon) %></td>
        <td><%= link_to 'Destroy', beacon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beacon', new_beacon_path %>
