<%= form_for([:admin, receipt]) do |f| %>
  <%= form_errors_for receipt %>

  <%= fr "Location", "#{receipt.location.business.name} - #{receipt.location.title}" %>
  <%= fr "Purchased", f.date_select(:purchased_on) %>
  <%= fr "Receipt Amount", f.number_field(:amount) %>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div id="approve">
        <%= f.button "Approve!", name: 'status', value: "approved", class: "btn btn-approve" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div id="rejected">
        <%= f.button "Reject with reason:", name: 'status', value: "rejected", class: "btn btn-reject" %>
        <%= f.radio_button :reject_reason, "" %>
      </div>
    </div>
  </div>
<% end %>
