<%= form_for([:admin, receipt], remote: true) do |f| %>
  <%= form_errors_for receipt %>

  <%= fr "Location", "#{receipt.location.business.name} - #{receipt.location.title}" %>
  <%= fr "Purchased", f.date_select(:purchased_on) %>
  <%= fr "Receipt Amount", f.number_field(:amount) %>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div id="approved">
        <%= f.button "Approve!", name: 'receipt[status]', value: "approved", class: "btn btn-approve" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="rejected">
        <% Receipt.reject_reasons.each do |r| %>
          <%= f.button r[:label], name: 'receipt[reject_reason]', value: r[:id], class: "btn btn-reject" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
