<%= form_for([:admin, receipt]) do |f| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :purchased_on %><br>
    <%= f.date_select :purchased_on %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, id: "Amount" %>
  </div>
  <div class="field">
    <%= f.label :reject_reason %><br>
    <%= f.text_field :reject_reason %>
  </div>
  <div class="actions">
    <%= f.submit "approved", name: 'status' %>
    <%= f.submit "rejected", name: 'status' %>
  </div>
<% end %>
