<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="panel">
      <h3><%= Receipt.untouched.count %></h3>
      Unapproved receipts
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel">
      <h3><%= Receipt.approved.from_today.count %></h3>
      Approved receipts today
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel">
      <h3><%= Receipt.rejected.from_today.count %></h3>
      Rejected receipts today
    </div>
  </div>
</div>

<div class="row">
  <% if @receipts %>
    <div class="col-xs-12 col-sm-6">
      <h2>First receipt</h2>

      <div>
        <%= image_tag @first.image %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= render 'form', receipt: @first %>
      <table>
        <thead>
          <tr>
            <th>Location</th>
            <th>Purchased on</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @receipts.each do |receipt| %>
            <tr>
              <td><%= receipt.location %></td>
              <td><%= receipt.purchased_on %></td>
              <td><%= link_to 'Show', receipt %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="col-xs-12">
      No receipts!
    </div>
  <% end %>
</div>