		<div class="row">
			<div class="col-md-3 ">
				<label>DAYS OF WEEK</label>
			</div>
			<div class="col-md-6" id="campaignDaysOfWeek">
				<% %w(s m t w t f s).map{|o| [o.upcase!, o] }.each_with_index do |day,index| %>
					<div class="cbox checkbox-inline">
						<%= check_box_tag :days_of_week, day[0], false, id: "dow_#{index}", multiple: true %>
						<label for="dow_<%= index %>"><%= day[1] %></label>
					</div>
				<% end %>
			</div>
		</div>
		<div class="separator"></div>

		<div class="row">
			<div class="col-md-3">
				<label>VALID WEEKS</label>
			</div>
			<div class="col-md-6" id="campaignValidWeeks">
				<% %w(first second third fourth fifth).map{|o| [o.humanize, o] }.each_with_index do |day,index| %>
					<div class="cbox checkbox-inline">
						<%= check_box_tag :weeks_of_month, day[0], false, id: "wom_#{index}", multiple: true %>
						<label for="wom_<%= index %>"><%= day[1] %></label>
					</div>
				<% end %>
			</div>
		</div>
		<div class="separator"></div>

		<div class="row">
			<div class="col-md-3">
				<label>DAYS OF THE MONTH</label>
			</div>
			<div class="col-md-6 daysOfTheMonth"  id="campaignValidDays">
				<div class="radio radio-inline">
			    <input type="radio" name="dom_selector" id="EveryDay" value="always">
				  <label for="EveryDay">Every day</label>
				</div>
				<div class="radio radio-inline">
			    <input type="radio" name="dom_selector" id="LastDay" value="last">
				  <label for="LastDay">Last day</label>
				</div>
				<div class="radio radio-inline customDays">
			    <input type="radio" name="dom_selector" id="Custom" value="custom">
				  <label for="Custom">Custom</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="customDaySelector"></div>
				<input type="hidden" id="customDaySelector_input" />
			</div>
		</div>
		<div class="separator"></div>