<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

Show: 
<%= link_to 'All', customers_url(status: 'all') %> |
<%= link_to 'Active', customers_url(status: 'active') %> |
<%= link_to 'Inactive', customers_url(status: 'inactive') %><br><br>

Export: 
<%= link_to 'To Excel', customers_url(status: params[:status], format: 'xls') %>
<% if current_user.mailchimp %>
  | <%= link_to 'Save to Mailchimp list', customers_url(status: params[:status], export: 'mc') %>
<% end %>
<% if current_user.constantcontact %>
  | <%= link_to 'Save to Constant Contact list', customers_url(status: params[:status], export: 'cc') %>
<% end %><br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>
      <th>Active</th>
      <th>Contacted</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name_reversed %></td>
        <td><%= customer.email %></td>
        <td><%= customer.points(current_user.business) %></td>
        <td><%= customer.active %></td>
        <td><%= customer.contacted %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<h2>Import Customers</h2>

<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>