<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @customer.points %>
</p>

<p>
  <strong>Active:</strong>
  <%= @customer.active %>
</p>

<p>
  <strong>Contacted:</strong>
  <%= @customer.contacted %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
