<% content_for(:page_title) { "Your Dashboard" } %>

<%= wrapper do %>

	<div class="row">
	  <div class="col-xs-12 col-sm-4">
	    <h2>Your Campaigns</h2>
	  </div>
	  <div class="col-xs-6 col-sm-5">
	    <%= link_to 'New Campaign', '#', class: 'btn btn-new', data: {toggle: 'modal', target: '#newCampaignModal'} %>
	  </div>
	  <div class="col-xs-6 col-sm-3">
	    <%= render 'shared/location_selector' %>
	  </div>
	</div>

	<%# CAMPAIGN CONTENT %>
	<%= render 'campaigns/card_index', campaigns: @campaigns %>

	<% if @campaigns %>
		<div class="row">
			<div class="col-xs-12 text-right">
				<%= link_to "View All Campaigns", campaigns_url, class: "btn btn-browse" %>
			</div>
		</div>
	<% end %>
<% end %> <%# -wrapper %>


<%= wrapper :dark do %>
	<%# GRAPH / CHART %>

	<%# ACTIVITY %>
	<div class="row">
	  <div class="col-xs-12 col-sm-4">
	    <h2>Today's Activity</h2>
	  </div>
	  <div class="col-xs-12 col-sm-8">
	    <ul class="camp-stats">
	    	<li class="active"><span><%= @stats[:active_campaigns] %></span> Campaigns</li>
	    	<li class="redemptions"><span><%= current_user.locations.size %></span> Locations</li>
	    	<li class="visits"><span><%= current_user.business.customers.size %></span> Customers</li>
	    </ul>
	  </div>
	</div>
	<%# -ACTIVITY %>

	<%# ANALYSIS %>
	<div class="row">
		<div class="col-xs-12">
			<div class="stat-panel">
				<div class="row">
					<div class="col-xs-6 col-sm-3">
						<div class="ups">
							<span><%= @stats[:today][:checkins] %></span></i>
							Check-ins
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="downs">
							<span><%= @stats[:today][:redemptions] %></span>
							Redemptions
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="ups">
							<span><%= @stats[:today][:conversion] %>%</span>
							Conversion
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="downs">
							<span>+<%= @stats[:today][:new_customers] %></span>
							Customers
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%# -ANALYSIS %>

	<div class="row">
		<%# AREA CHART %>
		<div class="col-xs-12 col-md-7">
			<div class="stat-panel">
				<div id="area-chart"></div>
				<%= render_chart(@chart[:area], 'area-chart') %>
			</div>
		</div>
		<%# -AREA CHART %>

		<%# PIE/DONUT CHART %>
		<div class="col-xs-12 col-md-5">
			<div class="stat-panel">
				<div id="pie-chart"></div>
				<%= render_chart(@chart[:pie], 'pie-chart') %>
			</div>
		</div>
		<%# -PIE/DONUT CHART %>
	</div>
<% end %> <%# -wrapper dark %>


<%= render 'campaigns/modal_new' %>

<%= content_for :js_header do %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>