<% content_for(:page_title) { "Your Dashboard" } %>

<%= wrapper do %>

	<div class="row">
	  <div class="col-xs-12 col-sm-4">
	    <h2>Your Campaigns</h2>
	  </div>
	  <div class="col-xs-6 col-sm-5">
	    <%= link_to 'New Campaign', '#', class: 'btn btn-new', data: {toggle: 'modal', target: '#newCampaignModal'} %>
	  </div>
	  <div class="col-xs-6 col-sm-3">
	    <%= render 'shared/location_selector' %>
	  </div>
	</div>

	<%# CAMPAIGN CONTENT %>
	<div class="campaign-wrap">
		<%= render 'campaigns/card_index', campaigns: @campaigns %>
	</div>

	<div class="row content-head">
		<div class="col-xs-12 text-right">
			<%= link_to "View All Campaigns", campaigns_url, class: "btn btn-browse" %>
		</div>
	</div>
<% end %> <%# -wrapper %>


<%= wrapper :dark do %>
	<%# GRAPH / CHART %>

	<%# ACTIVITY %>
	<div class="row">
	  <div class="col-xs-12 col-sm-4">
	    <h2>Today's Activity</h2>
	  </div>
	  <div class="col-xs-12 col-sm-8">
	    <ul class="camp-stats">
	    	<li class="active"><span><%= @stats[:active_campaigns] %></span> Active Campaigns</li>
	    	<li class="redemptions"><span><%= @stats[:today][:redemptions] %></span> Redemptions</li>
	    	<li class="visits"><span><%= @stats[:today][:checkins] %></span> Visits</li>
	    </ul>
	  </div>
	</div>
	<%# -ACTIVITY %>

	<%# ANALYSIS %>
	<div class="row">
		<div class="col-xs-12">
			<div class="campaign-analysis">
				<ul>
					<li class="ups campaigns"><span>+111</span> New Campaigns</li>
					<li class="downs visitors"><span>100%</span> New Visitors</li>
					<li class="ups redemptions"><span>+999</span> New Redemptions</li>
					<li class="downs sales"><span>100%</span> New Sales</li>
				</ul>
			</div>
		</div>
	</div>
	<%# -ANALYSIS %>

	<div class="row chart-wrap">
		<%# AREA CHART %>
		<div class="col-xs-12 col-md-7">
			<div id="area-chart"></div>
			<%= render_chart(@chart[:area], 'area-chart') %>
		</div>
		<%# -AREA CHART %>

		<%# PIE/DONUT CHART %>
		<div class="col-xs-12 col-md-5">
			<div id="pie-chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
		</div>
		<%# -PIE/DONUT CHART %>
	</div>
<% end %> <%# -wrapper dark %>


<%= render 'campaigns/modal_new' %>

<%= content_for :js_header do %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>