<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @payment.location %>
</p>

<p>
  <strong>Beacon:</strong>
  <%= @payment.beacon %>
</p>

<p>
  <strong>Buyer ip:</strong>
  <%= @payment.buyer_ip %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @payment.purchase_date %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @payment.transaction_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @payment.key %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

