<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @subscription.location %>
</p>

<p>
  <strong>Beacon:</strong>
  <%= @subscription.beacon %>
</p>

<p>
  <strong>Buyer ip:</strong>
  <%= @subscription.buyer_ip %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @subscription.purchase_date %>
</p>

<p>
  <strong>Transaction:</strong>
  <%= @subscription.transaction_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @subscription.key %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subscription.status %>
</p>

