<% unless campaigns.empty? %>
  <div class="grid">
    <% @campaigns.each do |c| %>
      <div class="grid-item">
        <div class="cw-wrap">
          <div class="badge bg-color2"><%= c.type_of.humanize %></div>
          <%= image_tag c.image, class: "img-responsive" %>
          <div class="cw-info text-center">
            <h3><%= c.title %></h3>
            <p><span><%= c.redemptions.where('created_at >= ?', Time.now.beginning_of_day).size %></span> uses today</p>
            <%= link_to "Edit", edit_campaign_url(c) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3>No active campaigns today!</h3>
<% end %>