<% unless @campaigns.nil? %>
  <div class="row">
    <% @campaigns.each do |c| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
          <div class="badge bg-color2"><%= c.type_of.humanize %></div>
          <%= image_tag c.image, class: "img-responsive" %>
          <div class="card-info">
            <h3><%= c.title %></h3>
            <p><span><%= c.redemptions.where('created_at >= ?', Time.now.beginning_of_day).size %></span> uses today</p>
            <%= link_to edit_campaign_url(c) do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3>No active campaigns!</h3>
<% end %>