<%= form_for(@campaign, multipart: true) do |f| %>
  <%= form_errors_for @campaign %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :discount_amount %><br>
    <%= f.text_field :discount_amount %>
  </div>
  <div class="field">
    <%= f.label :discount_type %><br>
    <%= f.select :discount_type, options_for_select(Campaign.discount_types.collect { |s| [s[0].humanize, s[0]] }, selected: @campaign.discount_type) %>
  </div>
  <div class="field">
    <%= f.label :share_reward %><br>
    <%= f.number_field :share_reward %>
  </div>
  <div class="field">
    <%= f.label 'Valid Location(s)' %><br>
    <% @locations.each do |l| %>
      <%= f.check_box :locations, {multiple: true}, l.id %> <%= l.title %><br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %><br>
    <%= link_to 'Crop', '#' %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select(Campaign.statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @campaign.status) %>
  </div>

  
  <fieldset>
    <div class="field">
      <%= f.label :start_at %><br>
      <%= f.datetime_select :start_at %>
    </div>
    <div class="field">
      <%= f.label :end_at %><br>
      <%= radio_button_tag 'end_at_selector', 'specific' %>
      <%= f.datetime_select :end_at %><br><br>

      <%= radio_button_tag 'end_at_selector', 'from_now' %> in
      <%= text_field_tag 'from_now_number' %>
      <%= select_tag 'from_now_type', options_for_select( %w(days weeks).map{|o| [o.humanize,o] }) %><br><br>

      <%= radio_button_tag 'end_at_selector', 'never' %> Never
    </div>

    <%# f.fields_for @schedule do |builder| %>
      <%= render 'schedules/form' %>
    <%# end %>

  </fieldset>


  <div class="field">
    <% if current_user.facebook %>
      <%= check_box_tag 'facebook', {}, '1' %> Publish to facebook?<br>
    <% end %>
    <% if current_user.twitter %>
      <%= check_box_tag 'twitter', {}, '1' %> Publish to twitter?<br>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
