<p id="notice"><%= notice %></p>

<h1>Campaigns</h1>

<%= link_to 'New Campaign', new_campaign_path %><br><br>

Status:
<%= link_to 'All', campaigns_url(status: 'all', type: params[:type]) %> |
<%= link_to 'Featured', campaigns_url(status: 'featured', type: params[:type]) %> |
<%= link_to 'Active', campaigns_url(status: 'active', type: params[:type]) %> |
<%= link_to 'Inactive', campaigns_url(status: 'inactive', type: params[:type]) %><br>
Type:
<%= link_to 'All', campaigns_url(type: 'all', status: params[:status]) %>
<%= link_to 'Coupons', campaigns_url(type: 'coupon', status: params[:status]) %>
<%= link_to 'Rewards', campaigns_url(type: 'reward', status: params[:status]) %>
<%= link_to 'Specials', campaigns_url(type: 'special', status: params[:status]) %>

<br><br>

<table>
  <thead>
    <tr>
      <th>Type of</th>
      <th>Title</th>
      <th>Location</th>
      <th>Valid</th>
      <th>Featured?</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.type_of %></td>
        <td><%= link_to campaign.title, campaign %></td>
        <td><%= campaign.locations_string %></td>
        <td><%= campaign.schedule.title %></td>
        <td><%= yesno(campaign.featured) %></td>
        <td>
          <%= link_to 'Edit', edit_campaign_path(campaign) %> |
          <%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>