<% content_for(:page_title) { "Campaigns" } %>

<%= wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2><%= @campaign.title %></h2>
      <p><%= @campaign.schedule.title %></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= render 'shared/location_selector' %>
    </div>
  </div>

  <% if @campaign.redemptions.size > 0 %>
    Most popular location: <%= @campaign.most_popular_location.title %>
  <% end %>
<% end %> <%# -wrapper %>


<%= wrapper :dark do %>
<% end %> <%# -wrapper dark %>


<%= content_for :js_header do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>