<% content_for(:page_title) { "Campaigns" } %>

<%= wrapper do %>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h2><%= @campaign.title %></h2>
      <p><%#= @campaign.schedule.title %></p>
    </div>
    <div id="locationFilter" data-url-pattern="/locations/id/campaigns/<%= @campaign[:id] %>" class="col-xs-12 col-sm-4">
      <%= render 'shared/location_selector' %>
    </div>
  </div>

  <% if @campaign.redemptions.size > 0 %>
    Most popular location: <%= @campaign.most_popular_location.title %>
  <% end %>

  <%# ANALYSIS %>
  <div class="row">
    <div class="col-xs-12">
      <div class="stat-panel">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <div class="stat-panel_entry">
              <span class="stat-panel_entry-value color-type-green"><%= @stat_for[:total_redemptions] %></span>
              Total Redemptions
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="stat-panel_entry">
              <span class="stat-panel_entry-value color-type-red"><%= @stat_for[:todays_redemptions] %></span>
              Redemptions Today
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="stat-panel_entry">
              <span class="stat-panel_entry-value"><%= @stat_for[:mtd_redemptions] %></span>
              Compared MTD
            </div>
          </div>
          <div class="col-xs-6 col-sm-3">
            <div class="stat-panel_entry">
              <span class="stat-panel_entry-value"><%= @stat_for[:total_redemption_customes] %></span>
              Customers
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# -ANALYSIS %>

  <div class="row">
    <%# AREA CHART %>
    <div class="col-xs-12">
        <div id="area-chart"></div>
        <%= render_chart(@chart_for[:redemptions_in_30_days], 'area-chart') %>
    </div>
    <%# -AREA CHART %>
  </div>

<% end %> <%# -wrapper %>


<%= content_for :js_header do %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<% end %>