<p id="notice"><%= notice %></p>

Show for location:<br>
<%= current_user.locations.active.each do |l| %>
  <%= link_to l.title, location_campaign_url(@campaign.id, l.id) %>
<% end %>

<h2><%= @campaign.title %></h2>
<i><%= @campaign.schedule.title %></i>

<p>
  <strong>Most popular location:</strong>
  <%= @campaign.most_popular_location.title %>
</p>

<p>
  <strong>Discount amount:</strong>
  <%= @campaign.discount_amount %>
</p>

<p>
  <strong>Discount type:</strong>
  <%= @campaign.discount_type %>
</p>

<p>
  <strong>Share reward:</strong>
  <%= @campaign.share_reward %>
</p>

<p>
  <strong>Image:</strong>
  <%= @campaign.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campaign.status %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @campaign.schedule %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @campaign.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @campaign.end_at %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
