<p id="notice"><%= notice %></p>

<h1>Listing Receipts</h1>

<strong>Show for location:</strong>
<%= current_user.locations.each do |l| %>
  <%= link_to l.title, location_receipts_url(l.id) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @approved_receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.id %></td>
        <td><%= link_to 'View Receipt', receipt %></td>
        <td><%= receipt.purchased_on %></td>
        <td><%= receipt.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>