<% content_for(:page_title) { "Receipts" } %>

<%= wrapper do %>

    <div class="row">
      <div class="col-xs-12 col-sm-9">
        <h2>Verified Receipts</h2>
      </div>
      <div class="col-xs-12 col-sm-3 mb3">
        <%= render 'shared/location_selector', type_of: {controller: :receipts, action: :index} %>
      </div>
    </div>

    <div class="filter-options">
      <div class="left mb3 mr3">
        <h4 class="caps m0">Filter<br> by Date:</h4>
      </div>
      <%# Filter form %>
      <form action="<%= receipts_url %>" method="get">

        <%# Start date %>
        <div class="left mr3 input-group date" data-format="yyyy-mm-dd">
          <div class="left">
            <input class="m0" style="width: 120px" type="text" name="start_date" placeholder="start" value="<%= params[:start_date] %>">
          </div>
          <div class="left">
            <div class="input-group-addon"></div>
          </div>
        </div>
        
        <%# End date %>
        <div class="left mr3 input-group date mb2" data-format="yyyy-mm-dd">
          <div class="left">
            <input class="m0" style="width: 120px" type="text" name="end_date" placeholder="end" value="<%= params[:end_date] %>">
          </div>
          <div class="left">
            <div class="input-group-addon"></div>
          </div>
        </div>

        <%# Submit %>
        <div class="pt2">
          <input type="submit" class="no-fit btn btn-submit caps m0">
          <% if params[:start_date] %>
            <%# We only need to show this if the params are set.
                Since end_date is optional we only check for the
                presence of start_date.
            %>
            <a href="<%= receipts_url %>" class="no-fit btn btn-reject m0">Clear</a>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>

  <% unless @approved_receipts.blank? %>
    <div class="table-responsive">
      <table data-toggle="table" data-toolbar="#custom-toolbar" data-show-columns="false" data-search="false" data-show-refresh="false" data-show-filter="false" data-show-toggle="false" data-show-export="false" data-pagination="true" data-pagination-v-align="both" data-striped="true" class="table table-hover table-condensed table-bordered">
        <thead>
          <tr>
            <th class="first" data-align="left" data-sortable="true">ID</th>
            <th data-align="left" data-sortable="true">Image</th>
            <th data-align="left" data-sortable="true" data-sorter="dateSorter">Date</th>
            <th data-align="left" data-sortable="true">Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @approved_receipts.each do |receipt| %>
            <tr>
              <td><%= receipt.id %></td>
              <td><%= link_to 'View Receipt', receipt, data: {toggle: 'modal', target: '#viewReceiptnModal'} %>
              <td><%= receipt.purchased_on %></td>
              <td><%= receipt.amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <%# Modal %>
    <div class="modal fade" id="viewReceiptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
      </div>
    </div>

  <% else %> <%# !receipts %>

    <div id="no-records">
      <h2 class="nowrap">No Receipts!</h2>
      <p>There are no approved receipts available to show.</p>
    </div>

  <% end %> <%# receipts? %>
<% end %> <%# -wrapper %>