<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt ID:</strong>
  <%= @receipt.id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @receipt.location.title %>
</p>

<p>
  <strong>Purchased on:</strong>
  <%= @receipt.purchased_on %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @receipt.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @receipt.status %>
</p>

<p>
  <strong>Approved on:</strong>
  <%= @receipt.actioned_on %>
</p>

<%= link_to 'Report a problem', "mailto:support@zippyspot.com?subject=Receipt Issue [#{@receipt.id}]" %>

<%= link_to 'Back', receipts_path %>
