<%= form_for(@location, html: {class: 'form'}) do |f| %>
  <%= form_errors_for @location %>

  <%= wrapper do %>
    <% if @location.new_record? %>
      <%= section_header 'Create a Location' %>
    <% else %>
      <%= section_header 'Edit your Location' %>
    <% end %>

    <%= fr "Location Title", f.text_field(:title),
      info: "The name of this location. If the name is the same as other locations, simply enter the street name to differentiate it." %>

    <%= fr "Address", f.text_field(:address) %>
    <%= fr "", f.text_field(:address2) %>

    <%= fr "" do %>
      <div class="row">
        <div class="col-sm-4">
          <%= f.text_field :city, placeholder: "City" %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :state, placeholder: "State" %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :zipcode, placeholder: "Zipcode" %>
        </div>
      </div>
    <% end %>

    
    <%= fr "Location Photos" do %>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag @location.location_photos[0].image.url(:thumb), id: "saved_image_1", class: "fit thumbnail", data: {toggle: 'modal', target: '#cropImageModal'} %>
          <%= hidden_field_tag 'image_datafile[]', "", id: "image_datafile_1" %>
        </div>
        <div class="col-sm-4">
          <%= image_tag @location.location_photos[1].image.url(:thumb), id: "saved_image_2", class: "fit thumbnail", data: {toggle: 'modal', target: '#cropImageModal'} %>
          <%= hidden_field_tag 'image_datafile[]', "", id: "image_datafile_2" %>
        </div>
        <div class="col-sm-4">
          <%= image_tag @location.location_photos[2].image.url(:thumb), id: "saved_image_3", class: "fit thumbnail", data: {toggle: 'modal', target: '#cropImageModal'} %>
          <%= hidden_field_tag 'image_datafile[]', "", id: "image_datafile_3" %>
        </div>
      </div>
    <% end %>

  <% end %>


  <%= wrapper :dark do %>
    <%= section_header 'Greetings' %>
    <%= fr 'Select a Greeting',
      info: "A greeting contains your location's welcome and exit messages. You may reuse greetings, or create a new one." do %>
      <%= f.select(:greeting_id, options_from_collection_for_select(@greetings, 'id', 'welcome_message'), prompt: 'Choose a greeting') %>
    <% end  %>

    <%= fr '' do %>
      <%= cbox("new_greeting", "Create a New Greeting", checkbox: {data: {toggle: 'collapse', target: '#collapseGreeting'}}) %>
    <% end %>

    <div class="collapse" id="collapseGreeting">
      <%= f.fields_for :greeting, @greeting do |builder| %>
        <%= render 'greetings/form_fields', f: builder %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <%= f.button %>
      </div>
    </div>

    <% unless @location.new_record? %>
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= link_to "Cancel Subscription", location_cancel_subscription_url(@location), method: :delete, data: { confirm: 'This will cancel your subscription immediately and you will be required to return the iBeaon. This is irreversable. Are you sure you want to cancel right now?' } %>
        </div>
      </div>
    <% end %>

  <% end %> <%# -wrapper dark %>
<% end %> <%# -form %>


<%# CROP MODAL %>
<!-- render 'shared/crop_modal', resource: @location -->