<% content_for(:page_title) { "Locations" } %>

<%= wrapper do %>
  <%= form_for(@location, url: location_confirm_url(@location)) do |f| %>
    <%= form_errors_for @location %>

    <div id="location-confirm">
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= image_tag "UUIDLocation.png" %>

          <h2>Confirm Your Location</h2>

          <p>Please enter the UUID code found on your new iBeacon device.</p>

          <%= text_field_tag :uuid %>

          <%= f.button "Activate This Location" %>

          <a href="#">What is a UUID code?</a>
          <a href="#">I haven't received my iBeacon</a>
        </div>
      </div>
    </div>

  <% end %> <%# -form %>
<% end %> <%# -wrapper %>