<% content_for(:page_title) { "Locations" } %>

<%= wrapper do %>
  <%= section_header "Your Campaigns" %>

  <%= link_to 'New Location', new_location_path, class: 'btn btn-new' %>
  <div class="table-responsive">
    <table data-toggle="table" data-toolbar="#custom-toolbar" data-show-columns="false" data-search="false" data-show-refresh="false" data-show-filter="false" data-show-toggle="false" data-show-export="false" data-pagination="true" data-pagination-v-align="both" data-striped="true" class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th data-align="left" data-sortable="true" class="first">ID</th>
          <th data-align="left" data-sortable="true">Title</th>
          <th data-align="left" data-sortable="true">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @active_locations.each do |location| %>
          <tr>
            <td><%= location.id %></td>
            <td><%= link_to location.title, location %></td>
            <td>
              <%= link_to 'Edit', edit_location_path(location) %>
            </td>
            <td>
              <%= link_to 'edit', edit_location_path(location), class: 'option edit' %>
              <%= link_to 'delete', location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'option delete' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <%= section_header "Pending Locations" %>

  <div class="table-responsive">
    <table data-toggle="table" data-toolbar="#custom-toolbar" data-show-columns="false" data-search="false" data-show-refresh="false" data-show-filter="false" data-show-toggle="false" data-show-export="false" data-pagination="true" data-pagination-v-align="both" data-striped="true" class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
          <th data-align="left" data-sortable="true" class="first">ID</th>
          <th data-align="left" data-sortable="true">Title</th>
          <th data-align="left" data-sortable="true">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @pending_locations.each do |location| %>
          <tr>
            <td><%= location.id %></td>
            <td><%= link_to location.title, location %></td>
            <td>
              <%= link_to 'Confirm Beacon Code', location_confirm_path(location) %>
            </td>
          </tr>
        <% end %>   
      </tbody>
    </table>
  </div>
<% end %> <%# -wrapper %>