<p id="notice"><%= notice %></p>

<h2>Your Locations</h2>

<%= link_to 'New Location', new_location_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @active_locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.title, location %></td>
        <td>
          <%= link_to 'Edit', edit_location_path(location) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Pending Locations</h2>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.title, location %></td>
        <td>
          <%= link_to 'Confirm Beacon Code', location_confirm_path(location) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>