<!DOCTYPE html>
<html>
<head>
  <title>Zippyspot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<div id="left-menu">
		<ul>
			<li><%= link_to 'Dashboard', root_url %></li>
			<li><%= link_to 'Biz Profile', edit_business_url %></li>
			<li><%= link_to 'Greetings', greetings_url %></li>
			<li><%= link_to 'Campaigns', campaigns_url %></li>
			<li><%= link_to 'Customers', customers_url %></li>
			<li><%= link_to 'Receipts', receipts_url %></li>
			<li><%= link_to 'Locations', locations_url %></li>
		</ul>
	</div>

	<div id="content-area">
		<div id="error">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>

		<div id="content">
			<%= yield %>
		</div>
	</div>

	<div class="clear"></div>
</div>

</body>
</html>
