<!DOCTYPE html>
<html>
<head>
  <title>Zippyspot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul>
	<li><%= link_to 'Dashboard', root_path %></li>
	<li><%= link_to 'Biz Profile', edit_business_path %></li>
	<li><%= link_to 'Greetings', greetings_path %></li>
	<li><%= link_to 'Campaigns', campaigns_path %></li>
	<li><%= link_to 'Customers', customers_path %></li>
	<li><%= link_to 'Receipts', receipts_path %></li>
	<li><%= link_to 'Locations', locations_path %></li>
</ul>

<%= yield %>

</body>
</html>
