<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="">
	<meta name="author" content="">

	<title>ZippySpot | <%= @html_title || "Admin Panel" %></title>

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Custom Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,400italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- CSS -->
	<%= stylesheet_link_tag 'application', params[:controller], media: 'all', 'data-turbolinks-track' => true %>

	<!-- CSRF -->
	<%= csrf_meta_tags %>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body class="<%= [params[:controller], params[:action]].join(' ') %>">

<div id="wrapper">

	<!-- NAV / VERTICAL SIDEMENU Start -->
	<div class="db-header" id="db-header">
		<div class="logo">
			<%= link_to image_tag('logo_zippy.png'), root_url %>
		</div>
		<div class="db-navbar">
			<ul>
				<% nav_menu_items.each do |item| %>
					<li id="<%= item[:id] %>">
						<%= link_to(send(item[:url])) do %>
							<i><%= image_tag("ico/ico-#{item[:id]}.svg") %></i>
							<span><%= item[:label] %></span>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<!-- NAV / VERTICAL SIDEMENU End -->

	<!-- HEADER Start -->
	<div class="header">
		<div class="container">
			
			<div class="row">
				<div class="col-xs-3 col-sm-6">
					<div class="nav-trigger"></div>
					<div id="header-left">
						<%= current_user.business.name %>
					</div>
				</div>

				<div class="col-xs-9 col-sm-6">
					<div id="header-right">

						<div id="battery-status" class="dropdown">
							<a class="ico" href="#" data-toggle="dropdown">
								<%= image_tag('ico/ico_storeBattery.svg') %>
							</a>
							<ul class="dropdown-menu arrow">
								<% current_user.locations.each do |location| %>
									<li>
										<%= link_to location do %>
											<div class="row no-gutters">
												<div class="col-xs-6"><%= location.title %></div>
												<div class="col-xs-6">
													<span><em class="yellow" style="width:50%"></em></span>
												</div>
											</div>
										<% end %>
									</li>
								<% end %>
							</ul>
						</div>
	

						<div id="your-account" class="dropdown">
							<%= link_to current_user.email, edit_user_registration_url, id: "profile-label", data: {target: '#', toggle: "dropdown"} %>
						  <ul class="dropdown-menu arrow">
								<li>
									<%= link_to edit_user_registration_url do %>
										<%= image_tag('ico/icon-profile.svg') %> Profile
									<% end %>
								</li>
						    <li><a href="#"><%= image_tag('ico/icon-heart.svg') %> Help</a></li>
						    <li><%= link_to image_tag('ico/icon-logout.svg') + "Log Out", destroy_user_session_path, method: :delete %></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HEADER End -->

	<!-- PAGE HEADER Start -->
	<div class="page-head">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h4><%= yield :page_title %></h4>
				</div>
			</div>
		</div>
	</div>
	<!-- PAGE HEADER End -->

	<%= render('shared/progress_steps') %>

	<%= flash_notices %>
	<%= yield :form_errors %>

	<div id="content-body">
		<%= yield %>
	</div>

	</div>



	<%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>

</body>
</html>