<% content_for(:page_title) { "Your Account" } %>

<%= wrapper do %>
  <%= section_header "Edit Your Account" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <%= fr "Email", f.email_field(:email, autofocus: true) %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <%= fr "" do %>
        <em>Currently waiting confirmation for: <%= resource.unconfirmed_email %></em>
      <% end %>
    <% end %>

    <%= fr "" do %>If you do not wish to change your password, leave the following fields blank.<% end %>
    <%= fr "Current_password", f.password_field(:current_password, autocomplete: "off") %>
    <%= fr "Password", f.password_field(:password, autocomplete: "off") %>
    <%= fr "Confirm", f.password_field(:password_confirmation, autocomplete: "off") %>

    <div class="row">
      <div class="col-xs-12 text-center">
        <%= f.button "Save Changes" %>
      </div>
    </div>    
  <% end %> <%# -form %>
<% end %> <%# -wrapper %>