<div class="row">
  <div class="col-xs-12">
    <h4>Create Your Zippy Spot Account</h4>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= form_errors_for resource %>

  <%= fr "Your Name" do %>
    <div class="row">
      <div class="col-xs-6">
        <%= f.text_field :first_name, placeholder: "First", autofocus: true %>
      </div>
      <div class="col-xs-6">
        <%= f.text_field :last_name, placeholder: "Last" %>
      </div>
    </div>
  <% end %>

  <%= fr "Email", f.email_field(:email) %>
  <%= fr "Password", f.password_field(:password, autocomplete: "off") %>
  <% if @validatable %>
    <%= fr "" do %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  <% end %>

  <%= fr "Confirm", f.password_field(:password_confirmation, autocomplete: "off") %>

  <div class="row">
    <div class="col-xs-12 text-center mb">
      <%= f.button "Proceed to Email Verification" %>
    </div>
  </div>
<% end %>

<div class="row mb">
  <div class="col-xs-12 text-center">
    or <%= link_to "Log in", new_session_path(resource_name) %><br />
  </div>
</div>